* {
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  top: 100px;
  left: 500px;
}

h2 {
  margin-bottom: 10px;
  text-align: centre;
}

textarea {
  margin-bottom: 5px;
  display: block;
}

.btn {
  width: 100px;
  padding:5px;
  border-radius: 5px;
  border: 1px solid;
  margin: 0 auto;
}

.try-this {
  margin-top: 5px;
  text-align: justify;
}

h3 {
  text-align: centre;
}