.container {
  background-color: beige;
  height: 50%;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

input[type=text] {
  display: block;
  margin: 0 auto;
  width: 20%;
  padding: 10px 40px;
  border-radius: 3px;
  border: 1px solid aqua;
}

input[type=text]:focus {
  width: 40%;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
  margin: 15px 0;
  transition-duration: 0.1s;
}

.btn:hover {background-color: blue}

.btn:active {
  background-color: beige;
  color: blue;
}