* {
  font-family: Arial;
  text-align: center;
}

nav {
  background-color: #12ff00;
  color:#ffffff; 
  font-size: 30px;
}

body {
  background-color: rgb(235, 222, 222)
}

.btn {
  border-radius: 5px;
}
